=render "layouts/breadcrumb"
%div{:style => "text-align: center"}
  %p
    %h2= @ticket.name
  %p
    = @ticket.description
    %br
  %p
    %h4 priotity: #{@ticket.priority}
    %h4 status: #{@ticket.status}
  %p
  - if can? :update, @ticket
    = link_to "Edit", edit_project_ticket_path(@project, @ticket)

  - if can? :destroy, @ticket
    = link_to "Delete", project_ticket_path(@project, @ticket), |
    method: :delete,                         |
    data: {confirm: 'Are you sure?'}
    
  %br
  %p    
    -@ticket.users.each do |user|
      =user.email 
      
  %br
  <!--%strong Single_attachment: -->
  -if @ticket.single_attachment.present?
    -if @ticket.single_attachment_content_type =~ /image\/*/
      =image_tag @ticket.single_attachment.url()
    -else
      =link_to @ticket.inner_attachment_name, @ticket.single_attachment.url()
  
    
= link_to "Back", :back