=render "layouts/breadcrumb"
.row
  .col-xs-12.col-sm-6.col-md-4
    %p
      %h2= @ticket.name
    %p
      = @ticket.description
    %br
    %br
    %h4 Attachment:
    -if @ticket.single_attachment.present?
      =render "attachment_display"
      = @ticket.inner_attachment_name
    -else
      No attachment added.
  .col-xs-12.col-sm-6.col-md-4   
    %p
      %h4 Priotity:
      - for i in 1..@ticket.priority
        %i#priority-star.fa.fa-star
        
      %h4 Status: 
      -if @ticket.status == 'active'
        %h4.blue 
          =@ticket.status
      -else 
        -if @ticket.status == 'cancelled'
          %h4.yellow 
            =@ticket.status
        -else
          %h4.green
            =@ticket.status
      %h4 Difficulty:
      = @ticket.difficulty
      %h4 Assigned coworkers:
      -@ticket.users.each do |user|
        =user.email
        %br
  .col-xs-12.col-sm-6.col-md-4
  %p
  - if can? :update, @ticket
    = link_to "Edit", edit_project_ticket_path(@project, @ticket), :class => 'btn btn-mini btn-primary'

  - if can? :destroy, @ticket
    = link_to "Delete", project_ticket_path(@project, @ticket), |
    method: :delete,                         |
    data: {confirm: 'Are you sure?'}, :class => 'btn btn-mini btn-danger'
    
  %br   

      
  