%div{:style => "text-align: center"}
  %p
    %h2= @project.name
  %p
    = @project.description
    %br
  %p
  - if can? :update, @project
    = link_to "Edit", edit_project_path(@project)
    = link_to "Add ticket", new_project_ticket_path(@project)    
    = link_to "Add members", new_user_invitation_path(:project => @project.id)
  = link_to "View tickets", project_tickets_path(@project) 
   
= link_to "Back", :back