<h1><%= @project.name %></h1>
<h2><%= t "devise.invitations.new.header" %></h2>
  
<%= simple_form_for([@project]) do |f| %>
  <%= f.association :members %>
  <%= f.submit %>
<%end%>
  

<h2><%= t "devise.invitations.new.header2" %></h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field %>  
<% end -%>
  <%if @project!=nil %>
    <%=f.hidden_field :project_id, :value => @project.id %>
  <%end%>
  
<%= f.submit t("devise.invitations.new.submit_button") %>
<% end %>
